@import url('https://fonts.cdnfonts.com/css/gg-sans-2');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit";
}

body{
    background:url("./assests/discord-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .branding-logo{
    width: 124px;
    height: 30px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px;
    background-color: transparent;
}

header img {
    height: 40px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

header ul li {
    display: inline;
    font-family: "Mukta";
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.ham img {
    display: none;
}

.header-btn{
    color: #23272a;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    font-family: "Mukta";
}

.hero{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    display: flex;
    width: 100%;
    color: white;
    align-items: center; 
    justify-content: space-around;
    padding: 30px;
}

.hero .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    align-items: flex-start;
    margin-top: 80px;
    width: 400px ;
    height: 300px ;
    gap: 30px;
}

.details{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     width: 400px ;
     height: 300px ;
     gap: 30px;
}

.hero h1{
    font-family: "Kanit";
    font-size: 58px;
    font-weight: 1000;
    line-height: 50px;
    letter-spacing: 2px;
}

 .hero p{
    font-family: "Mukta";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px
 }

.hero img{
    max-width: 800px;
    scale: 1.05;
}

.hero .image{
    align-self: flex-end;
}

.hero-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 40px;
}

.hero-btn{
    padding: 16px 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 100px;
    border: none;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: "Mukta";
}

.hero-btn:hover{
    box-shadow: 0 8px 5px 8px #00000010;
}

.hero-btns .download-btn{
    color: #23272a;
}

 
.path{
    fill: black;
}

.hero-btns .download-btn:hover{
    color: #5765f2;
}

.web-direct-btn{
    color: white;
    background-color: #161cbb;
}

.chats{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(221, 216, 216, 0.2), #455FDE);
    border-radius: 60px;
    padding: 17px;
    border: 3px solid #7282E2;
    box-shadow: 0 2px 52px #452a7c1a;
    width: 1200px;
    height: 560px;
    gap: 30px;
    -webkit-backdrop-filter: blur(24px) contrast(0.88) brightness(1.75);
    backdrop-filter: blur(24px) contrast(0.88) brightness(1.75);
}

.card-media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 525px;
    border-radius: 40px;
    border: none;
    background-color: #161cbb;
}

.card-media img {
    width: 110%;
    height: 115%;
    border-radius: 45px;
    z-index: 1;
}

.cards .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding-left: 56px;
    padding-right: 16px; */
    color:white;
    width: 450px;
    height: 520px;
}

.cards .details h2{
    font-family: "Kanit";
    font-size: 50px;
    font-weight: 900;
    color: white;
    line-height: 50px;
}

.cards .details p{
    font-family: "Mukta";
    font-size: 22px;
    font-weight: 400;
    color: white;
    line-height: 30px;
}

.stream{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px ;
}

.stream .card-media{
    /* width: 777px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
    border-radius: 50px;
    border: none;
    background: transparent;
}

.stream .card-media video{
    height: 102%;
    width: 100%;
    border-radius: 50px;
}

/* .vCall-container{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
} */

.vCall{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.vCall .card-media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
    border-radius: 50px;
    border: none;
    background: transparent;
}

.vCall .card-media video{
    height: 102%;
    width: 100%;
    border-radius: 50px;
}

.logos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logos .text{
    width: 30px;
    height: 30px;
}

.chill{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.chill .card-media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
    border-radius: 50px;
    background: transparent;
    border: none;
}

.chill .card-media video{
    height: 102%;
    width: 100%;
    border-radius: 50px;
}

.fun-session{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px ;
}

.fun-session .card-media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
    border-radius: 50px;
    background: transparent;
    border: none;
}

.fun-session .card-media video{
    height: 102%;
    width: 100%;
    border-radius: 50px;
} 

.xBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px ;
}

.xBox .card-media{
    /* width: 777px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 510px;
    border-radius: 50px;
    border: none;
}

.xBox .card-media video{
    height: 102%;
    width: 100%;
    border-radius: 50px;
} 

.dont-scroll {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Kanit";
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color:white;
}

.dont-scroll .footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5865f2;
    color: white;
    gap: 10px;
    padding: 13px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    font-weight: 400;
    margin-top: 30px;
}

.dont-scroll button:hover {
    background-color: #5865f2aa;
}

.footer-img{
    max-height: min-content;
}
.footer-img img{
    width: 100dvw;
    transform: translateY(10px);
}

footer {
    opacity: 1;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background-image: linear-gradient(135deg, #777BC2, #3D3098);
    padding: 80px ;
    padding-top: 70px;
    border-top: 4px solid #8F91CF;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    color: white;
}

.footer-social-lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-lang {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-lang img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.footer-social{
    display: flex;
    gap: 20px;
    font-size: 27px;
    margin-bottom: 20px;
}

.footer-social a{
    text-decoration: none;
}

.footer-social a i{
    color: white;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 20px;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "Mukta";
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.foot-end{
    margin: 25px;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.foot-end img{
    width: 124px;
    height: 30px;
}

.foot-end button{
    padding: 11px;
    background-color: #4f74fa;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}

.chats, .fun-session, .vCall, .chill, .logos, .xBox{
    margin: 50px 0px;
}


@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
        width: auto;
    }

    header .nav-items {
        display: none;
    }

    .ham button{
       display: none;
    }

    .ham img{
        display:flex;
        height: 35px;
    }


    .content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .hero .details{
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 600px ;
        height: 250px ;
        gap: 40px;
        text-align: center;
    }

    .details{
        justify-content: center;
        align-items: center;
        width: 600px ;
        height: 250px ;
        gap: 40px;
        text-align: center;
    }

    .details p{
        font-size: 17px;
    }

    .hero-btns{
        flex-direction: column;
        width: 309px;
        margin: auto;
        margin-bottom: 70px;
    }
    
    .cards{
        width: 698px;
        height: 390px;
    }

    .card-media{
        width: 348px;
        height: 250px;
    }

    .card-media video{
        border-radius: 40px;
    }

    .cards .details{
        width: 320px;
        height: 250px;
        gap: 20px;
    }

    .chats .card-media img{
        /* aspect-ratio: 331∶281; */
    }

    .cards .details h2{
        font-size: 35px;
        line-height: 36px;
        text-align: start;
    }

    .cards .details p{
        font-size: 19px;
        text-align: start;
        line-height: 26px;
    }

    .dont-scroll {
        font-size: 50px;
        line-height: 50px;
    }

    .footer-container{
        gap: 60px;
    }

    .footer-links{
        flex-wrap: wrap;
        gap: 30px;
    }


} 

@media (max-width: 576px) {
    
}



@media (max-width: 380px) {

}

svg path {
    fill: #ff0000 !important;
  }